body {
	margin-top: -10px;	
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
  padding: auto;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #000000;
}

.header li {
	font-weight: bold;
}

.header {
  padding: 20px 0;
  }

a {
	color: #000000;
	font-family: "Arial", Gadget, sans-serif;
}

#circle {
	width: 500px;
	height: 500px;
	border: 2px #d3d3d3 solid;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
	margin: 10px auto 20px auto;
}

.menu h1 {
	text-align: center;
	margin-top: 13px;
	font-size: 38px;
	color: #000000;
	letter-spacing: 2px;
}

#circle h1 {
	position: relative;
	right: 60px;
	top: 40px;
}

#circle p {
	position: relative;
	right: 60px;
	top: 50px;
	color: #A7A6A4;
	letter-spacing: 2px;
}

#circle a {
	text-decoration: none;
}


#circle h4 {
	float: right;
	position: relative;
	top: 190px;
	left: 170px;
}

.header li {
	font-weight: bold;
}

.header {
  padding: 20px 0;
  }

a {
	color: #000000;
	font-family: "Arial", Gadget, sans-serif;
}