.project-right .container {
	width: auto;
    height: 340px;  
    border-top: 1px solid #000000;
    margin-top: 45px;
}

.project-right img {
	width: 400px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	border: 2px solid #000000;
}

.project-right h2 {
	text-align: center;
	margin-top: 40px;
}

.project-right h4 {
	text-align: center;
	margin-top: auto;
	font-family: "Arial", Gadget, sans-serif;
}

.project-right h3 {
	text-align: center;
	position: relative;
	margin-top: 10px;
}

.project-right p {
	text-align: justify;
    text-justify: inter-word;
    margin-top: 45px;
    font-family: "Arial", Gadget, sans-serif;
    position: relative;
	margin-top: 15px;
}

